@import url("https://fonts.googleapis.com/css?family=Cabin:400,700|Varela|Average");
/*
@tailwind base; adds base styles to all elements:
https://tailwindcss.com/docs/preflight
*/
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-base: #efefef;
  --color-highlight: #ff80ff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0px 0px 0px 0px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media print {
  html,
  body {
    height: auto;
  }
}

html,
body,
button,
input,
select,
textarea,
.pure-g,
.pure-g [class*="pure-u"] {
  font-family: "Cabin";
  font-weight: 400;
}

p {
  font-family: "Average";
  font-weight: 400;
}
