@keyframes pulse-scale {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-fade-in-out {
  animation: fade-in-out 2s ease-in-out forwards;
}

.animate-pulse-scale {
  animation: pulse-scale 1.2s ease-in-out infinite;
}
